<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lambda2Js.Signed" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="Microsoft.Data.Edm" version="5.2.0" targetFramework="net40" />
  <package id="Microsoft.Data.OData" version="5.2.0" targetFramework="net40" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.8.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="RavenDB.Client" version="4.1.5" targetFramework="net472" />
  <package id="RavenDB.Embedded" version="4.1.5" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Cng" version="4.5.0" targetFramework="net472" />
  <package id="System.Spatial" version="5.2.0" targetFramework="net40" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net472" />
  <package id="WindowsAzure.Storage" version="2.0.6.1" targetFramework="net40" />
</packages>