version: 1.0.{build}
image: Visual Studio 2017
configuration:
- Debug
- Release
platform: Any CPU
before_build:
  - nuget restore src\WheelMUD.sln
build:
  project: src\WheelMUD.sln
  verbosity: normal