#define IDS_UACPROMPT	100

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE 
BEGIN
    IDS_UACPROMPT		"Application Administrative Task"
END
/////////////////////////////////////////////////////////////////////////////