<connectionStrings>
  <clear/>
  <!-- Change the path in Data Source to the correct location of the WheelMud.net.db file on your computer -->
  <!--<add name="WheelMUDCE" connectionString="Data Source=C:\Projects\WM\WMtng\SQL\WheelMUD.sdf" />-->
  <!--<add name="WheelMUDSQLite" connectionString="Data Source=C:\Projects\WM\WMSharp\SQL\WheelMud.net.db;Version=3;"/>-->
  <add name="WheelMUDSQLite" providerName="System.Data.SQLite" connectionString="Data Source=Files\WheelMud.net.db;Version=3;"/>
</connectionStrings>